
<h5 class="Lato">NEFT Payment</h5>
<hr>

<div class="container">  
    <div *ngIf="continue;else neftBlock">
        <div class='alert alert-primary'>
            <div class="form-group">
                <label for="transaction_password">Enter Transaction password</label>
                <input type="password" class="form-control" name="transaction_password" [(ngModel)]="transaction_password"
                     id="transaction_password">
            </div>
            <div class="btn btn-outline-primary" (click)="CheckPassword()">Enter</div>
            <a routerLink="/forgot/transaction-password" class="nav-link text-info">Forgot Transaction password? Click Here!</a>
            <div class="text-danger mt-1">{{password_error}}</div>
            <div class="text-success mt-1">{{password_success}}</div>
        </div>
    </div>
    <ng-template #neftBlock>
        <form [formGroup]="NeftForm" (ngSubmit)="TransferNeft()">
            <b>From Account Number : {{account_number}}</b>
            <hr>
            <div class="form-group">
                <label for="to_account_number">Select a Beneficiary</label>
                <div class="container row">
                    <select class="form-control col-8" name="to_account_number" formControlName="to_account_number"
                        id="to_account_number">
                        <option *ngFor="let opt of beneficiary_list" [ngValue]="opt">{{opt}}</option>
                    </select>
                    <div class="col-sm-4">
                        <button class="btn btn-outline-danger" type="button" (click)="AddBeneficiary()">Add New
                            Beneficiary</button>
                    </div>
                </div>
    
                <div class="alert alert-danger"
                    *ngIf="NeftForm.get('to_account_number').errors && NeftForm.get('to_account_number').touched">
                    <small *ngIf="NeftForm.get('to_account_number').errors.required">
                        This Field is required
                    </small>
                    <small *ngIf="NeftForm.get('to_account_number').errors.pattern">
                        This field is not valid
                    </small>
                </div>
            </div>
    
            <div class="form-group">
                <label for="amount">Enter Amount</label>
                <input type="number" class="form-control" name="amount" formControlName="amount" id="amount">
                <div class="alert alert-danger" *ngIf="NeftForm.get('amount').errors && NeftForm.get('amount').touched">
                    <small *ngIf="NeftForm.get('amount').errors.required">
                        This Field is required
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="transaction_date">Transaction Date</label>
                <input type="date" class="form-control" name="transaction_date" formControlName="transaction_date"
                    id="transaction_date">
                <div class="alert alert-danger"
                    *ngIf="NeftForm.get('transaction_date').errors && NeftForm.get('transaction_date').touched">
                    <small *ngIf="NeftForm.get('transaction_date').errors.required">
                        This Field is required
                    </small>
                    <!--small *ngIf="NeftForm.get('transaction_date').errors.pattern">
                        This field is not valid
                    </small-->
                </div>
            </div>
            <div class="form-group">
                <label for="remark">Remark</label>
                <input type="text" class="form-control" name="remark" formControlName="remark" id="remark">
                <div class="alert alert-danger" *ngIf="NeftForm.get('remark').errors && NeftForm.get('remark').touched">
                    <small *ngIf="NeftForm.get('remark').errors.required">
                        This Field is required
                    </small>
                    <!--small *ngIf="NeftForm.get('remark').errors.pattern">
                        This field is not valid
                    </small-->
                </div>
            </div>
            <div class="form-group row m-auto">
                <div class="col-auto"><button type="submit" class="btn btn-outline-secondary">Validate</button></div>
                <!--div class="col-auto"><button type="button" class="btn btn-warning">Save as Template</button></div-->
                <div *ngIf="success;else resetblock">
                    <div class="col-auto"><button type="button" (click)="Continue()" class="btn btn-info">Continue</button>
                    </div>
                </div>
                <ng-template #resetblock>
                    <div class="col-auto"><button type="reset" class="btn btn-danger">Reset</button></div>
                </ng-template>
            </div>
    
            <div *ngIf="error">
                <div class="alert alert-danger mt-1">
                    {{message}}
                </div>
            </div>
            <div *ngIf="success">
                <div class="alert alert-success mt-1">
                    {{message}}
                </div>
            </div>
        </form>
    </ng-template>
</div>