<div class="container">
    <div class="text-center pt-5 pb-2">
        <h4>Set New Login Password</h4>
    </div>
    <div class="col-sm-6 m-auto main-block p-4">
        <h5 class="WorkSans">UserId:{{user_id}}</h5>
        <hr>
        <form [formGroup]="ChangePassword" (ngSubmit)="changePassword()">
            <div class="form-group">
                <label for="password">Enter New Password</label>
                <input type="password" class="form-control" formControlName="password" name="password" id="password">
                <div class="alert alert-danger"
                    *ngIf="ChangePassword.get('password').errors && ChangePassword.get('password').touched">
                    <small *ngIf="ChangePassword.get('password').errors.required">
                        Password is required.
                    </small>
                    <small *ngIf="ChangePassword.get('password').errors.pattern">
                        Invalid Password. Must consist 8 characters which should include atleast one uppercase, lowercase, number and a special character.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirm_password" name="confirm_password"
                    id="confirm_password">
                <div class="alert alert-danger"
                    *ngIf="ChangePassword.get('confirm_password').errors && ChangePassword.get('confirm_password').touched">
                    <small *ngIf="ChangePassword.get('confirm_password').errors.required">
                        Confirm Password is required.
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-lightpink btn-block">Change Password</button>
            {{error}}
        </form>
    </div>
</div>