<div class="dropdown-divider"></div>
<div class="card main-block p-2">
    <div class="card-header">
        <div class="h5">Fund Transfer:</div>
    </div>
    <div class="card-body Lato">
        <div class="row">
            <div class="col-sm-3">
                <a class="nav-link" routerLink="/userdashboard/Fund-Transfer/add-beneficiary">Add Beneficiary</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link" routerLink="/userdashboard/Fund-Transfer/neft-transfer">NEFT Payment</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link" routerLink="/userdashboard/Fund-Transfer/rtgs-transfer">RTGS Payment</a>
            </div>
            <div class="col-sm-3">
                <a class="nav-link" routerLink="/userdashboard/Fund-Transfer/imps-transfer">IMPS Payment</a>
            </div>
        </div>
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="main-block p-2 p-sm-5">
    <router-outlet></router-outlet>
</div>





