<div class="container">
    <div class="text-center pt-5 pb-2">
        <h4>Forgot {{id}}</h4>
    </div>
    <div class="col-sm-6 m-auto main-block p-4">
        <form [formGroup]="ForgotLogin" (ngSubmit)="forgotLogin()">
            <div class="form-group">
                <label for="required_detail">Enter {{variable}}</label>
                <input type="text" class="form-control" formControlName="required_detail" name="required_detail"
                    id="required_detail" required>
                <div class="alert alert-danger"
                    *ngIf="ForgotLogin.get('required_detail').errors && ForgotLogin.get('required_detail').touched">
                    <small *ngIf="ForgotLogin.get('required_detail').errors.required">
                        {{variable}} is required.
                    </small>
                    <small *ngIf="ForgotLogin.get('required_detail').errors.pattern">
                        Not a valid {{variable}} (Only contaons numbers).
                    </small>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lightpink btn-block">Send OTP</button>
            </div>   
            {{message}}
        </form>
    </div>
</div>